.aboutInter {
    margin: auto;
    width:90%;
}
.aboutInter h2 {
   text-decoration: underline;
}

li {
   color:#696969;
}

.saison {
    font-size: 1.5rem;
}

.saisonFinie {
    font-size: 1.5rem;
    color: red;
    text-decoration:line-through ;
}