.aboutInter {
  margin: auto;
  margin-left: 10px;
  margin-right: 10px;
}
.aboutInter h2 {
  text-decoration: underline;
}

li {
  color: #696969;
}

.saison {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--primaryColor);
  font-size: 1.3rem;
  padding: 1rem 1.5rem;
  border-color: var(--primaryColor);
  border-style: solid;
  border-width: 2.5px;
  transition: 0.2s;
}

.saison:hover {
  color: var(--mainBlack);
  border-color: var(--mainBlack);
}

.saisonFinie {
  font-size: 1.5rem;
  color: red;
  text-decoration: line-through;
}

.calendar {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 740px) {
  .aboutInter {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
}
