@charset "utf-8";
// If need, change your variables before importing Bulma
$button-border-color: white;
$button-color: white;
$primary: #35b0f6;
$warning: #081d4a;
$danger: #ffff;
// 35B0F6 9f2a78
$card-header-weight: 0;
$button-border-width: 0.2rem;
$button-hover-background-color: white;
$footer-padding: 0.8rem 1.5rem;
$table-striped-row-even-background-color: rgb(235, 235, 235);
$navbar-background-color: #363636;
$navbar-item-color: #f7f7f7;
$navbar-item-hover-color	:#35b0f6;
$navbar-item-hover-background-color	: transparent;
$navbar-dropdown-item-hover-color	:#f7f7f7;
$navbar-dropdown-background-color	:#363636;
$navbar-dropdown-item-active-background-color	:#35b0f6;
$navbar-dropdown-item-hover-background-color:#35b0f6;
$navbar-item-img-max-height	:2.3rem;
@import "~bulma/bulma.sass";

.button {
  border-radius: 0;
}
