.containerCours {
  width: 80%;
  margin: auto;
}

@media screen and (max-width: 842px) {
  .tableA {
    display: block;
  }
  .tableA > *,
  .tableA tr,
  .tableA td,
  .tableA th {
    display: block;
  }
  .tableA thead {
    display: none;
  }
  .tableA tbody tr {
    height: auto;
    padding: 37px 0;
  }

  .containerCours {
    width: 100%;
    margin: auto;
  }
}
