

.winner{
    background-color:#4ee44e;
    color: var(--mainWhite);
}

.underline {

        border-color:var(--primaryColor);
        border-style:solid;
      border-width: 0px 0px 0px 6px;
      padding-left: 10px;
      color:var(--mainBlack);
      transition: all .2s ease-in;
    
}

table{
    width:85%;
    margin:auto;
}

.titleInterclub{
    margin:1rem 0;
    font-size: 1.5rem;
}

.WoL{
    font-size: 1.5rem;
}


.resume {
       
    width:85%;
    margin: auto;
}

.win {
    color:green;
}
.lose{
    color:red
}

@media screen and (max-width: 776px) {
    table{
        width:100%;
        margin:auto;
    }
    .resume {
            width:100%;
        
    }
  }


  