.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.25rem;
}
.logo-btn {
  background: transparent;
  border: none;
  outline: none;
}
.logo-btn:hover {
  cursor: pointer;
}
.logo-icon {
  color: var(--mainWhite);
  font-size: 1.5rem;
}

.logoFix{
  margin-top: 5px;

  height:35px;
}
.nav-links {
  list-style-type: none;
  margin:auto;
  transition: var(--mainTransition);
  height: 0;
  overflow: hidden;
}

.show-nav {
  height: 220px;
}
.nav-links a {
  display: block;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--mainWhite);
  transition: var(--mainTransition);
  font-size: 1rem;
  letter-spacing: var(--mainSpacing);
}


.nav-links a:hover {
  color: var(--primaryColor);
 }


.essai {
  padding-top: 23px;

}
.nav-social-links {
  display: none;
  margin-right: 1rem;
}
@media screen and (min-width: 576px) {
  .navbar {
    padding: 0 0rem;
  }
}

@media screen and (min-width: 992px) {
  .logo-btn {
    display: none;
  }
  .nav-center {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-links {
    height: auto;
    display: flex;
  }
  .nav-social-links {
    display: flex;
    line-height: 0;
  }
  .nav-social-links a {
    color: var(--mainWhite);
    margin: 0 0.5rem;
    font-size: 1.2rem;
    transition: var(--mainTransition);
  }
  .nav-social-links a:hover {
    color: var(--primaryColor);
    transform: translateY(-5px);
  }
}

