

.logoFix{
  margin-top: 0.2rem;
  margin-left:10px;
  height:45px;
}
.navSocialLinks{
  color:magenta;
}

.testA {
  letter-spacing: 4px;
  font-size: 1rem;
  padding: .5rem 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 20px;
}

.testB {
  letter-spacing: 4px;
  font-size: 0.8rem;
  padding: .5rem 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 20px;
}

.testB:hover {
  color:var(--mainWhite);
}

@media only screen and (max-width: 600px) {
  .testA {
    letter-spacing: 2px;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 20px;
  }

  .navSocialLinks
  {
    margin-left:10px;;
  }
}


@media screen and (min-width: 992px){
.nav-social-links Link{
    color: var(--mainWhite);
    font-size: 1.6rem;
    transition: var(--mainTransition);
}
.nav-social-links Link:hover{
  color: var(--primaryColor);
}
}

@media only screen and (max-width: 600px) {
  .nav-social-links{
    text-align: center;
  }
  .nav-social-links a{
    font-size: 1.6rem;
  }
  .nav-social-links a:hover{
    color: var(--primaryColor);
  }
  .logoFix{
    margin-top: 0.1rem;
    margin-left:10px;
    height:25px;
  }
}

