
.footerLinks a {
  text-decoration: none;
  color:#C0C0C0;
  font-size: 0.8rem;
  transition: var(--mainTransition);
}

.footerLinks {
  text-decoration: none;
}

.logo {
  height:40px;
  margin-top: 2rem;
  margin-right:15px
}
.infoContact{
  color:#C0C0C0;
  transition: var(--mainTransition);
  font-size: 0.8rem;
}
.contact{
  text-decoration: underline;
  color:#C0C0C0
}

.liste {
  list-style-type: none;
}

.footerLinks a:hover{
  color:var(--primaryColor);
}

.socialIcons{
 padding-left:0.5rem;
 font-size: 1.3rem;
 color:var(--primaryColor);
 transition: 0.4s;
}
.socialIcons:hover{
  color:var(--mainWhite);
  transform: translateY(-5px);
}

